.serve{
    display: flex;
    flex-wrap: wrap;
}

.service{
    width: 300px;
    height: 380px;
    border: 3px solid #dd6b20;
    margin-left: 6.3%;
    margin-bottom: 5%;
    border-radius: 10%;
    text-align: center;
}

.services-heading{
    text-align: left;
    margin-left: 5%;
    margin-bottom: 20px;
    color: #525FE1
    
}

.service-image{
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 20%;
    height: 160px;
    width: 180px;
}

.service li{
    margin: 2%;
}

.service-heading{
    color: #525FE1;
    text-align: center;
    margin-bottom: 5%;
}