*{
    font-family:"Poppins";
}

.serve{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.service{
    width: 22vw;
    height: 65vh;
    border:none;
    background-color: rgb(235, 235, 235);
    flex-wrap: wrap;
    margin: 3%;
    margin-bottom: 5%;
    border-radius: 7%;
    text-align: center;
    box-shadow: 6px 6px 6px rgb(63, 62, 62);
}
.service:hover{
    box-shadow: 6px 6px 6px blueviolet;
}
.services-heading{
    text-align: center;
 
    margin-bottom: 2%;
    margin-top: 2%;
    color: #0E2954;
    font-family:"Poppins";
}

.service-image{
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 20%;
    height: 160px;
    width: 180px;
}
/* .service-image:hover{
    opacity: 0.7;
} */

.service li{
    margin: 2%;
    font-family:"Poppins";
}

.service-heading{
    color: #0E2954;
    text-align: center;
    font-family:"Poppins";
    margin-bottom: 5%;
}