@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,700;1,400&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  background-color: white;
  padding-top: 10px;
}
.head {
  font-family: "Poppins";
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: rgb(15, 202, 40);
  font-size: 22px;
  background-color: white;
}
.head-oneliner {
  color: rgb(149, 40, 9);
  font-size: 17px;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
