*{
  font-family: "Poppins";
}
  .book-cardz {
    background-color: black;
    width: 260px;
    border: 3px solid white;
    /* border-radius: 10% 0%; */
    /* border-color: olive green; */
    padding: 10px;
    text-align: center;
    /* margin: 1%; */
    /* margin-left: 6%; */
    display: inline-block; 
    transform: rotate(2deg);
  }

  .book-cardz1 {
    background-color: black;
    width: 260px;
    border: 3px solid white;
    /* border-radius: 10% 0%; */
    /* border-color: olive green; */
    padding: 10px;
    text-align: center;
    /* margin: 1%; */
    /* margin-left: 6%; */
    display: inline-block; 
    transform: rotate(-2deg);
  }
  
  .book-cardz img, .book-cardz1 img {
    /* object-fit: cover; */
    width: 200px;
    height: 300px;
    margin-top: 4%;
    border: 3px solid white;
    object-fit: cover;
    border-radius: 10% ;
    /* margin-bottom: 4%; */
  }

.home-from-team{
    background-color: white;
    border: none;
    color: blue;
    font-size: 25px;
    cursor: pointer;
    border-radius: 20%;
    width: 8%;
    height: 6%;
    position: absolute;
    left: 91%;
    box-shadow: 2px 2px 2px rgb(74, 73, 73);
    top: 2%;
}

.team-heading{
  color: yellow;
  text-align: center;
  padding: 1%;
  font-size: 40px;
  margin-bottom: 1%;
}

.member-description h5{
  color: cyan;
  text-align: center;
  margin-top: 2%;
  font-size: 20px;
}

.member-description p{
  color: orange;
  margin-top: 2%;
  text-align: center;
}

.member-description{
  /* margin-left: 3%; */
  margin: 6%;
  margin-top: 10%;
  /* padding: 3%; */
  width: 55%;
}

  .linked , .hubgit , .insta{
    color: white;
    margin: 7%;
    /* margin-left: 8%; */
    font-size: 35px;
  }
  .meet h2{
    color:white;
    text-align: center;
    font-size: 28px;
  }
    .meet{
    background-color: black;
    width: 100%;
    }

    .ashu{
      margin-left:7%;
      display: flex;
      margin-right: 6%;
      flex-wrap: wrap;
      /* flex-wrap: wrap; */
      /* justify-content: space-between; */
    }

    .pri{
      margin-left: 6%;
      margin-right: 6%;
      display: flex;
    }

    .abhi{
      margin-left:6%;
      margin-right: 6%;
      display: flex;
    }

    .sol{
      margin-left: 6%;
      padding-bottom: 3%;
      display: flex;
      margin-right: 6%;
    }