.user-profile {
  /* display: flex; */
  margin-top: 40px;
  margin-bottom: 20px;
}

.box {
  /* background-color: rgb(42, 87, 87); */
  /* margin-left:30%; */
  /* margin-right: 30%; */
  border-radius: 20px;
  height: 100%;
  display: flex;
  margin-left: 0 auto;
  max-width: 1200px;
}

/* .line{
    margin-left:0%;
} */

.user-desc {
  color: black;
  text-align: left;
  margin-top: 0%;
  margin-left: 7%;
  font-family: "Poppins";
}

.signup-profile-pic__container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.signup-profile-pic {
  width: 100px;
  border-radius: 50%;
  border: 2px solid gray;
  object-fit: cover;
  height: 100px;
}

.add-picture-icon {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: green;
  background: white;
  cursor: pointer;
  z-index: 99;
}

.student-information {
  padding: 5px;
}

.user-books {
  margin: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #525fe1;
  color: white;
}

.Issued-books {
  color: #dd6b20;
  text-align: center;
  margin-bottom: 1%;
}

.loading {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-update {
  background-color: white;
  padding: 4px;
  border: 2px solid orange;
  border-radius: 30%;
  cursor: pointer;
}
.btn-select {
  background-color: white;
  padding: 4px;
  border: 2px solid orange;
  border-radius: 30%;
  cursor: pointer;
}

.photo-change {
  display: flex;
  margin-left: 10%;
}

.photo-update {
  margin-left: 2%;
}

.delete-icon {
  color: red;
  height: 30px;
  width: 30px;
}

.delete-btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.delete-btn:active {
  transform: scale(1.2);
}
