

.box {
  /* background-color: rgb(42, 87, 87); */
  /* margin-left:30%; */
  /* margin-right: 30%; */
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  max-width: 100%;
  justify-content: center;
}


/* .line{
    margin-left:0%;
} */

.user-desc {
  color: black;
  text-align: left;
  margin-top: 1%;
  margin-left: 7%;
  font-family: "Poppins";
  width: 28vw;
}

.signup-profile-pic__container {
  width: 100px;
  height: 100px;
  position: relative;
  /* margin: 0 auto; */
  margin-top: 55%;
}

.signup-profile-pic {
  /* width: 200%; */
  border-radius: 10%;
  /* border: 2px solid gray; */
  object-fit: cover;
  height: 200%;
 width: 200%;
 margin: 0 -25%;
 box-shadow: 4px 4px 4px black;
}
.signup-profile-pic:hover{
  box-shadow: 4px 4px 4px #0618e0;
}

.add-picture-icon {
  position: absolute;
  bottom: -13vh;
  right: -5vw;
  color: green;
  /* background: white; */
  cursor: pointer;
  height: 10%;
  z-index: 99;
  padding: 2%;
  font-size: 20px;

}

.student-information {
  padding: 5px;
  margin-left: 10%;
}

.user-books {
  margin: 30px;
}

.delete-image-btn:active{
  transform: scale(1.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 7px 7px 7px rgb(194, 184, 184);
}

.zinda-hoon-2{
  /* width: 82%; */
  width: 96%;
  margin-left: 2%;
  max-height: 30vh;
  overflow-y: scroll;
}

th,td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #525fe1;
  color: white;
}

.Issued-books {
  color: #dd6b20;
  text-align: center;
  margin-bottom: 1%;
}

.loading {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-change {
  display: flex;
  margin-left: 10%;
}

.photo-update {
  margin-left: 2%;
}

.delete-icon {
  color: red;
  height: 30px;
  width: 30px;
}

.delete-btn {
  background-color: white;
  border: none;
  cursor: pointer;
}

.delete-icon:active {
  transform: scale(1.1);
}
.uploadbutton{
  display: block;
  padding: 5%;
  width: 80%;
  font-size: 1rem;
  border: none;
  border-radius: 10%;
  background-color: #525fe1;
  color: white;
  font-weight: 600;
  box-shadow: 3px 3px 3px rgb(1, 19, 62);
}
.uploadbutton:active{
  box-shadow: none;
}

.return-btnz:active{
  transform: scale(1.1);
}