.form-container {
  /* max-width: 350px; */
  width: 30%;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 5%;
  /* background-color: rgb(209, 204, 204); */
  /* box-shadow: 4px 4px 4px ; */
  border-radius: 5%;
  padding: 2%;
  background-color:#F5F5F5;
  /* border-radius: 15px; */
  box-shadow: 6px 6px 6px rgb(68, 20, 2);
}
.form-back{
    background-color: #021a42;
    height: 100vh;
    align-items:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-heading1{
  text-align: center;
  padding: 2%;
  color: #021a42;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
}
.insideform {
  /* border: 2px solid blue; */
}
.form-container input,
.form-container textarea {
  width: 90%;
  padding: 8px;
  margin-left: 12px;
  border: 1px solid #03363e;
  border-radius: 4px;
  margin-bottom: 3%;
}

.orderformbutton {
  margin-top: 30px;
    padding: 11px;
    width: 70%;
    margin-left: 15%;
    border: none;
    border-radius: 5px;
    background-color: #0E2954;
    box-shadow: 3px 3px 3px #06214c;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-family: "Montserrat";
}

.orderformbutton:hover {
  background-color: green;
}
