.section_padding{
    padding: 1rem 3rem;
    
}

.footer{
    background-color: #2d2d32;
    height: 100%;
    width: 100%;
    font-family: "Poppins";
    margin-top: 2%;
}

.sb_footer{
    display: flex;
    flex-direction: column;
}

.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 0rem;
}

.sb_footer-links_div{
    /* width: 120px; */
    margin: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    text-align: left;
}

.linkedin_div{
    text-align: left;
}

.sb_footer-links_div a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 2%;
    font-size: 20px;
}

.sb_footer-links_div h2{
    font-size: 25px;
    line-height: 17px;
    margin-bottom: 1rem;
    color: yellow;
}

.sb_footer-links_div p{
    font-size: 20px;
    line-height: 15px;
    margin: 0.3rem 0;
    cursor: pointer;
}

.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.sb_footer-below-links{
    display: flex;
    flex-direction: row;
}

.sb_footer-below-links p{
    font-size: 20px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

hr{
    color: white !important;
    width: 100%;
}

.sb_footer-copyright p{
    font-size: 15px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}