a:visited{
color:black;
}
a{
color: black;
}
a:hover{
    color:blueviolet
}
.link-visited:visited{
color: black;
}

.table{
    width: 100%;
    box-shadow: 7px 7px 7px rgb(194, 184, 184);
}

.zinda-hoon{
    /* width: 82%; */
    width: 82%;
    margin-left: 9%;
    max-height: 40vh;
    overflow-y: scroll;
}
.admin-td{
    padding: 10px;
    text-align: left;
   border: none!important;
    text-align: center;
}

.approve-btnn{
    background-color: rgb(12, 189, 12);
    border: none;
    color: white;
    padding: 4px 4px;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 2px 2px 2px rgb(68, 142, 68);
}

.approve-btnn:hover{
    background-color: rgb(9, 140, 9);
}

.approve-btnn:active{
    transform: scale(1.1);
}


