/* .welcoming{
    font-weight: 800;
    margin-left: 3%;
}

.above-about{
    margin: 3%;
    margin-left: 4%;
} */

 /* .back{
   
    display: flex;
    flex-direction: column;
    opacity: 0.9;
}

.inup{
    display: flex;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 60%;
    padding: 2px 2px;

}

.inside button{
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    margin: 5px;
    cursor: pointer;
    color: black;
}

.hea{
    margin: 6%;
    margin-bottom: 0%;
    color: yellow;
}

.about{
    width: 80%;
    margin: 3%;
    font-weight: 300px;
}

.icon{
    width: 120px;
    margin: 1%;
}

.ab{
    margin-left: 3%;
    color: blueviolet;
}

.line{
    width: 10%;
    margin-left: 3%;
} 

.inside{
    display: flex;
    flex-direction: column;
}

.inside h3{
    color: darkcyan;
} */

.land-wrapper{
    color: white;
    /* position: relative; */
    /* padding-bottom: 2rem; */
    background-color: white;
    /* margin-top: 3%; */
    width: 100%;
    /* border: 2px solid  rgb(143, 192, 184); */
    /* border-radius: 10%; */
}

.land-container{
    display: flex;
    margin-left: 4%;
    justify-content: space-around;
}

.paddings{
    padding: 1rem;
}

.land-left{
    gap: 3rem;
    margin-top: 8%;
    margin-left: 3%;
}

.land-title>h1{
    /* font-weight: 600; */
    font-size: 4rem;
    /* line-height: 4rem; */
    /* margin-left: 23%; */
    color: #0E2954;
}

.flex-btn{
    display: flex;
    margin-top: 2%;
    margin-left: 6%;
    gap: 30px;
 }
 /*
.flex-btn h3{
    color: #0E2954;
    margin-top: 1%;
} */

.wel-btn{
    background-color: #0E2954;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 4px 4px 4px rgb(165, 163, 163);
  /* transition: background-color 0.3s ease; */
}

.wel-btn:hover{
    background-color: green;
}

.wel-btn:active{
    transform: scale(1.1);
}

.image-container img{
    border-radius: 10%;
    /* box-shadow: 8px 8px 8px rgb(100, 153, 145); */
    /* margin-left: 35%; */
    margin-top: 7%;
    width: 300px;
    margin-left: 2%;
    height: 300px;
    /* margin-right: 15%; */
}

.land-des p{
    color: rgb(94, 62, 62);
    font-family: "Poppins";
    font-weight: 600;
    margin-right: 2%;
}

.land-right{
    margin-right: 8%;
}
