
.header{
    /* height: 2%; */
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0E2954;
  }

  .head-btn{
    background-color: #0E2954;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding-left: 4%;
  }
  .head-btn:hover{
    color: yellow;
  }
/* 
  .app-name{
    color: #dd6b20;
  } */

  .middlebarr{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.3%;
    width:70%;
  }

  .team-middlebarr{
    width: 25%;
    margin-left: 15%;
  }

  .leftbarr{
    margin-top: 1%;
  }

  .rightbarr{
    /* margin-left: 19%; */
    display: flex;
    margin-top: 0.8%;
    margin-right: 1.5%;
  }

  .user-btnx{
    font-size: 25px;
    background-color: #0E2954;
    border: none;
    color: white;
    cursor: pointer;
    padding-right: 20px;
  }

  .dropbtn-head {
    background-color: #0E2954;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding-left: 4%;
    margin-left: 8%;
  }
  
.tor{
  margin-top: -5%;
}
  

