.fullabout{
    margin-top: 10px;
 }
 
 .cont-about{
    font-weight:800;
    text-align: justify;
    margin-left: 5%;
    display: flex;
 }
 
 .image-about{
   margin-left: 5%;
   margin-right: 5%;
   border-radius: 10%;
 }
 .image-about:hover{
  transform: scale(1.2);
 }

 .About{
   text-align: left;
   margin-left: 5%;
   margin-bottom: 0.5%;
   color: #525FE1
 }
 
 