
  .navbar{
    /* height: 2%; */
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0E2954;
    /* width:90%; */
  }

  .nav-btn{
    background-color: #0E2954;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding-left: 6%;
    padding-right: 6%;
  }
  .nav-btn:hover{
    color: yellow;
    border-bottom:1px solid yellow ;
   
  }
/* 
  .app-name{
    color: #dd6b20;
  } */

  .middlebar{
    /* margin-left: 5%; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.3%;
    width: 45%;
  }

  .leftbar{
    margin-top: 1%;
  }

  .rightbar{
    /* margin-left: 19%; */
    display: flex;
    margin-top: 0.5%;
    margin-right: 1%;
  }

  .user-btn{
    font-size: 45px;
    background-color: #0E2954;
    border: none;
    color: white;
    cursor: pointer;
    padding-right: 20px;
  }

  .logout-btn{
    background-color: #0E2954;
    color:white;
    border: 2px solid white;
    border-radius: 10%;
    font-size: 22px;
    height: 70%;
    width: 110%;
    margin-top: 3%;
    padding: 0 3%;
    /* text-align: center; */
    cursor: pointer;
  }

  .logout-btn:active{
    transform: scale(1.05);
  }





  .dropbtn {
    background-color: #0E2954;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 4%;
    margin-left: 8%;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 1%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {color: #3e8e41;} */
  

  

