
  .navbar{
    /* height: 2%; */
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-btn{
    background-color: white;
    border: none;
    color: #dd6b20;
    font-size: 25px;
    cursor: pointer;
    padding-left: 4%;
  }
  .nav-btn:hover{
    color: #b24e0c;
  }

  .app-name{
    color: #dd6b20;
  }

  .middlebar{
    /* margin-left: 10%; */
    margin-top: 1%;
    width:55%;
  }

  .leftbar{
    margin-top: 1%;
  }

  .rightbar{
    /* margin-left: 19%; */
    display: flex;
    margin-top: 0.3%;
  }

  .user-btn{
    font-size: 50px;
    background-color: white;
    border: none;
    color: #dd6b20;
    cursor: pointer;
    padding-right: 15px;
  }

  .logout-btn{
    background-color: white;
    color: #dd6b20;
    border-radius: 43%;
    border: none;
    font-size: 25px;
    height: 40px;
    width: 80px;
    margin-top: 2%;
    padding-right: 5px;
  }

  .logout-btn:hover{
    color: red;
  }

  

  

