@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
}
.bookimg {
  width: 70%;
  border: 2px white solid;
  border-radius: 5%;
  height: 210px;
  /* object-fit: contain; */
  margin-left: 15%;
}
#container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 18px;
}
.book-card {
  position: relative;
  /* background-color: #fffffe; */
  background-color: #29242f;
  box-shadow: 6px 6px 6px #0a1f42;
  /* box-shadow: 6px 6px 6px #3c4dae; */
  padding: 8px;
  border-radius: 12px;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* border: 1px solid red; */
}
.book-card:hover {
  transform: scale(1.05);
}
.tag {
  padding: 2px 8px;
  border: 1px solid rgb(169, 185, 31);
  border-radius: 50px;
  font-size: 20px;
  font-family: "Poppins";
  color: rgb(154, 233, 239);
}
.bookname {
  font-family: "Poppins";
  font-size: 24px;
  margin-top: 14px;
  color: rgb(17, 246, 48);
}

.Summary {
  font-family: "Poppins";
  margin-top: 10px;
  font-size: 16px;
  color: white;
  line-height: 1.5;
}
.readmore {
  border: none;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 50px;
  color: #0077ff;
  background-color: #e0efff;
  margin: 10px auto;
  display: block;
  cursor: pointer;
}
.readmore:hover {
  transform: scale(1.1);
}
.not-available {
  position: absolute;
  width: 90%;
  text-align: center;
  top: 50%;
  /* right: -58px; */
  background-color: rgb(54 91 177 / 70%);
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  transform-origin: top left; /* Set the rotation origin to top left */
  border-radius: 12px;
}
