.library-heading{
    
    font-size: 3rem;
    font-family: "Poppins";
font-weight: 500;
padding: 0.75rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
    
}
.library-name{
    color: rgb(20 184 166);
}
.library-subheading{
    padding: 0.75rem;
    margin: 0.5rem 0.5rem 1.2rem 0.5rem;
    font-size: 2rem;
    color: rgb(51 65 85);
    font-family: "Poppins";
}
.library-Lib{
    color: rgb(249 115 22);
    font-style:bold; 
}
.library-card{
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    padding-top: 1.5rem; /* 24px */
padding-bottom: 1.5rem; /* 24px */
display: flex;
justify-content: center;
}
.libary-img-div{
    padding-left: 0.5rem; 
    padding-right: 0.5rem;
}
.library-img{
    height: 100%;
    width: 25vw;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 6px 6px 6px  rgb(51 65 85);
}
.library-btn{
 margin: 9px;
 margin-top: 2.75rem;
 display: block;
 background-color: rgb(10, 191, 236);
 padding: 0.8rem;
 width: 8vw;
 border-radius: 10px;
 border: none;
 color: white;
 font-weight: 600;
 font-family: "Poppins";
 font-size: 15px;
 box-shadow: 4px 4px 4px rgb(51 65 85);
 cursor: pointer;


}
.library-btn:active{
    box-shadow: none;
}
.library-btn:hover{
    background-color: rgb(10, 175, 216);
}