.body{
    background-color: #021a42;
    height: 100vh;
    align-items:center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.login-card{
    background-color:#F5F5F5;
   padding: 3% !important;
   border-radius: 15px;
   box-shadow: 6px 6px 6px rgb(68, 20, 2);
}
.formlabel{
    padding: 20px 10px 0px 0;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 600;
    /* color: #FF6666; */
    cursor: pointer;
    
}
.forminput{
    width: 100%;
    border:none;
    margin: 0 0 10px 0;
    padding: 5px;
    box-sizing: border-box;
    background-color:#F5F5F5;
    border-bottom: 1px solid black;
    font-size: 18px;
    /* font-family: "Montserrat"; */
    
}
input:focus{
    outline:none;/*Important*/
    font-family: "Montserrat";
}
.formbtn{
    margin-top: 30px;
    padding: 11px;
    width: 70%;
    margin-left: 15%;
    border: none;
    border-radius: 5px;
    background-color: #0E2954;
    box-shadow: 3px 3px 3px #06214c;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-family: "Montserrat";
}
.formbtn:active{
    box-shadow: none;
}
.login-card h1{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color: #0E2954;
    cursor: pointer;
    letter-spacing: 1.2px;
    /* line-height: 1.2em; */
    font-size: 38px;
    font-family: "Poppins";
}
.formfoot{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 600;
}
.formfoot>a{
    color:#3f69ab ;
    text-decoration: underline;
}
.formfoot>a:visted{
    color:#294778 ;

}
